<footer>
        <div id="footer">
            <a class="foot" href = "about">About Career Builder</a>  | <a>Services</a> | <a class="foot" href = "contact">Contact</a>  |
           &copy; 2020 CareerBuilder.com. All Rights Reserved.
        </div>
</footer>
