<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header'); -%>
</head>

<body>
    <%- include('partials/nav'); -%>

    <section class="description">
        <h1>About US!</h1>
        <p class="main">We help students to become professionals. Career Builder aims to organize workshops that covers topics like Interview Basics, Resume Building, LinkedIn Profile buiding which forms the core for job searching and networking for students. We also welcome enthusiastic trainers to create workshops on Career Builder subjected to approval.</p>
    </section>

  <%- include('partials/footer'); -%>
</body>
