<!DOCTYPE html>
<head>
    <%- include('partials/header'); -%>
</head>

<body>
    <%- include('partials/nav'); -%>

    <section class="description">
        <h1>Contact us at:</h1>
        <p class="main"><strong>Address: </strong><br>#444, Barton Creek Rd<br>
        Charlotte, North Carolina<br>
        Zip Code - 00000<br><br>
        <strong>Phone Number: </strong>
        (704) 555 5555</p>

    </section>

  <%- include('partials/footer'); -%>
</body>
