
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header'); -%>
</head>

<body>
    <%- include('partials/nav'); -%>

    <section class="description">
        <h1>Welcome to Career Builder</h1>
        <div id ="homeDesc">
            <a class="main">We help students to become professionals. Career Builder aims to organize workshops that covers topics like Interview Basics, Resume Building, LinkedIn Profile buiding which forms the core for job searching and networking for students. We also welcome enthusiastic trainers to create workshops on Career Builder subjected to approval.
            </a>
            &nbsp;<a class="conHead">&nbsp;&nbsp;&nbsp;Check out our workshops to register yourself.</a>
        </div>
    </section>

    <%- include('partials/footer'); -%>
</body>
