<!DOCTYPE html>
<head>
    <%- include('partials/header'); -%>
</head>

<body>
    <%- include('partials/nav'); -%>

    <section class="container">
        <h1>Welcome to Workshop Log</h1>
        <p class="main">Please enter your username and password to sign in.<br>
          <% if(errors){%>
        <p class='error'>
          Please fix the below errors:<br>
        </p>
            <%errors.forEach(function(error){%>
              <a class='error'>
                *<%=error.msg %><br>
              </a>
                <%});  } %>
        <form id="Login-form" method = "POST" action = "/login">
        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Enter your email address" id="email" name="email">

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password">

        <button type="submit">Login</button>
        </form>

    </section>

  <%- include('partials/footer'); -%>
</body>
