<!DOCTYPE html>
<head>
    <%- include('partials/header'); -%>
</head>

<body>
    <%- include('partials/nav'); -%>

    <section class="container">
        <h1>Welcome to Career Builder</h1>
        <p class="main">Register!!<br>
          <% if(errors){%>
        <p class='error'>
          Please fix the below errors:<br>
        </p>
            <%errors.forEach(function(error){%>
              <a class='error'>
                *<%=error.msg %><br>
              </a>
                <%});  } %>
        <!-- <form id="SignUp-form" method = "POST" action = "/signup">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter username" id="username" name="username">

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password">

        <button type="submit">Login</button>
        </form> -->

    </section>

  <%- include('partials/footer'); -%>
</body>
